
body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    margin: 2%;
    padding: 0;
  }
  .headerContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .subheaderContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
  }
  
  table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid white;
  }
  
  th {
    background-color: #333;
  }
  
  td:first-child {
    width: 50px;  
  }
  
 
  .positive {
    color: green;
  }
  
  .negative {
    color: red;
  }
  
.headerContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subheaderContainer{
    display: flex;
justify-content: space-between;
align-items: center;
}
.btn1{
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}
.Telegrambtn{
    margin: 10px;
    padding: 6px 20px;
    border-radius: 10px;
    background-color: #3dc6c1;
    color: #fff !important;
}

  
  @media (max-width: 600px) {
    h1 {
      font-size: 1.5rem;
    }
  
.headerContainer{
    display: flex;
    flex-direction: column;
}

    table {
      width: 100%;
    }
  
    th, td {
      padding: 8px;
      font-size: 0.6rem;
    }
  
    td:first-child {
      width: 30px;  
    }
  }
  
 
  @media (min-width: 601px) and (max-width: 992px) {
    h1 {
      font-size: 1.8rem;
    }
  
    table {
      width: 95%;
    }
  
    th, td {
      padding: 10px;
      font-size: 1rem;
    }
  
    td:first-child {
      width: 40px; 
    }
  }
  
 
  @media (min-width: 993px) {
    h1 {
      font-size: 2.5rem;
    }
  
    table {
      width: 80%;
    }
  
    th, td {
      padding: 15px;
      font-size: 1.2rem;
    }
  
    td:first-child {
      width: 50px; 
    }
  }
  